.demo-container {
    margin: 50px;
    width: 90vw;
}
body {
    margin: 8px;
}

.dx-command-edit .dx-link {
    visibility: hidden;
}

.dx-state-hover .dx-command-edit .dx-link,
.dx-selection .dx-command-edit .dx-link {
    visibility: visible;
}
